
html {
	box-sizing: border-box;
	height:100vh;
	width:100vw;
}

*, *:before, *:after {
	box-sizing: inherit;
	margin: 0;
}

body {
	position:relative;
	width:100vw;
	height:100vh;
}

button, .amt, .label {
	position: absolute;
	width:6vw;
	height:8vh;
	top:54vh;
	font-size:2.5vw;
}

.amt, .label {
	min-width:10vw;
	min-height:6vh;
	text-align:center;
	padding-top:1vh;
	color: grey;
}

.label {
	top:42vh;
	width:25vw;
}


.display {
	position:absolute;
	min-height:20vh;
	min-width:100vw;	
	font-size:10vmin;
	text-align:center;
	background-color:transparent;
	padding-top:5vmin;
	color:white;
	z-index:100;
}

#begin {
	top:75vh;
	left:45vw;
	width:10vw;
}

#restLabel {
	right:13vw;
}

#workMinus {
	left:15vw;
}

#workDur {
	left:20vw;
}

#workPlus {
	left:30vw;
}

#workLabel {
	left:13vw;
}

#restMinus {
	right:30vw;
}

#restDur {
	right:20vw;
}

#restPlus {
	right:15vw;
}
#clockPanel {
	top:80vh;
	font-family:'alarmClock';
}

#topWords {
	top:0vh;
}

@font-face {
	font-family: 'alarmClock';
	src: url('assets/alarmClock.ttf') format('truetype');
}
