/*preload*/
.preload {
	background: url('assets/eggplant.png') no-repeat -9999px -9999px;
}

html {
	box-sizing: border-box;
	height:100vh;
	width:100vw;
}

*, *:before, *:after {
	box-sizing: inherit;
	margin: 0;
}

body {
	position:relative;
	width:100vw;
	height:100vh;
	background-color:black;
}

.display {
	position:absolute;
	min-height:20vh;
	min-width:100vw;	
	font-size:10vmin;
	text-align:center;
	background-color:transparent;
	padding-top:5vmin;
	color:white;
	z-index:100;
}

#clockPanel {
	top:80vh;
	font-family:'alarmClock';
}

#topWords {
	top:0vh;
}

@font-face {
	font-family: 'alarmClock';
	src: url('assets/alarmClock.ttf') format('truetype');
}
