html {
	box-sizing: border-box;
	height:100vh;
	width:100vw;
}

*, *:before, *:after {
	box-sizing: inherit;
	margin: 0;
}

body {
	position:relative;
	width:100vw;
	height:100vh;
	background-color:black;
}

#goButton {
	position:relative;
	top:70%;
	left:50%;
}
